<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
    <meta name="theme-color" content="#0097DB">
    <title>Barion vehiclestore</title>
    <link rel="shortcut icon" href="/img/favicon.png">
    <!--<link rel="stylesheet" href="/dist/css/framework7.ios.css">-->
    <link rel="stylesheet" href="./../stylesheets/icons.css">
    <link rel="stylesheet" href="./../javascripts/framework7/dist/css/framework7.ios.min.css">
    <link rel="stylesheet" href="./../javascripts/framework7/dist/css/framework7.min.css">
    <link rel="stylesheet" href="./../stylesheets/my.css">
    <link rel="stylesheet" href="./../stylesheets/framework7.barion.css">
</head>
<body>
    <div id="app">
        <div class="statusbar"></div>
        <div class="view view-main">
            
            <!-- PAGE 1 - List -->
            <div class="page" data-name="main">
                <div class="navbar">
                    <div class="navbar-inner sliding">
                        <div class="left">
                            <a id="exitButton" href="#" class="link">
                                <i class="icon icon-back"></i>
                                <span>Market</span>
                            </a>
                        </div>
                        <div class="title">E vignette</div>
                    </div>
                </div>

                <div class="page-content">
                    
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript files -->
    <script type="text/javascript" src="./../javascripts/BarionMarket.js"></script>
    <script type="text/javascript" src="./../javascripts/framework7/dist/js/framework7.min.js"></script>
    <script type="text/javascript" src="./../javascripts/ematrica-app.js"></script>

    <script id="contentTemplate" type="text/template7">
        <div class="list">
                <ul>
                  <li>
                    <a href="javascript:barionMarket.getVehicle()" class="item-link item-content">
                      <div class="item-media"><i class="icon icon-f7"></i></div>
                      <div class="item-inner">
                        <div class="item-title">
                          <div class="item-header">Vehicle</div>
                          {{licensePlate}}
                        </div>
                        <div class="item-after">Edit</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a id="showVignetteTypes" class="item-link item-content">
                      <div class="item-media"><i class="icon icon-f7"></i></div>
                      <div class="item-inner">
                        <div class="item-title">
                          <div class="item-header">Vignette type</div>
                          {{selectedVignette}}
                        </div>
                        <div class="item-after">Edit</div>
                      </div>
                    </a>
                  </li>
                  <li>
                        <a class="item-link item-content" >
                          <div class="item-media"><i class="icon icon-f7"></i></div>
                          <div class="item-inner">
                            <div class="item-title">
                              <div class="item-header">Date of validity</div>
                              
                              <div class="item-input-wrap">
                                    <input type="text" placeholder="Select date" readonly="readonly" id="demo-calendar-modal"/>
                                  </div>
                            </div>
                            <div class="item-after">Edit</div>
                          </div>
                        </a>
                      </li>
                </ul>
            </div>
            <input type="submit" class="button" id="payWithBarionButton" value="Buy with Barion">
        </script>

        <script id="vignetteTypesTemplate" type="text/template7">
            <div class="list">
                    <div class="list-group">
                      <ul>
                        <li class="list-group-title">Highway vignette</li>
                        {{#each highways}}
                        <li id="selectVignetteType" data-vignette-id={{productId}}>
                          <div class="item-content">
                            <div class="item-inner">
                              <div class="item-title">{{productDescription}}</div>
                            </div>
                          </div>
                        </li>
                        {{/each}}
                      </ul>
                    </div>
                    <div class="list-group">
                      <ul>
                        <li class="list-group-title">Yearly county</li>
                        {{#each yearlyCounty}}
                        <li id="selectVignetteType" data-vignette-id={{productId}}>
                          <div class="item-content">
                            <div class="item-inner">
                              <div class="item-title">{{productCounty}}</div>
                            </div>
                          </div>
                        </li>
                        {{/each}}
                      </ul>
                    </div>
                  </div>
        </script>
    
</body>
</html>
